body {
  font-family: 'Merriweather', serif;
}

p {
  font-size: 10px;
}

#topRow {
  height: 40px;
  min-width: 600px;
  background-color: #184100;
}

#menuItem {
  float: left;
  margin:10px;
  color: rgb(199, 199, 199);
}

#userLogin {
  margin: 10px;
  float: right;
  color: rgb(199, 199, 199);
}


#mainContainer {
  min-width: 600px;
  width: 60%;
  margin: auto;
}

.formbox {
  max-width: 400px;
  min-width: 200px;
  margin: auto;
}

.input {
  text-align: center;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
  height: 30px;
  margin-top: 20px;
  font-family: 'Merriweather', serif;
  width: 100%;
}

.button {
  height: 30px;
  border-style: none;
  border-radius: 10px;
  color: rgb(196, 196, 196);
  margin-top: 30px;
  font-family: 'Merriweather', serif;
  background-color: #184100;
  width: 40%;
  margin-left: 30%;
}


.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}